/* styles/globals.css */
body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  line-height: 1.6;
}
main {
  padding: 0rem;
}
*, *::before, *::after {
  box-sizing: border-box;
}
body, html {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}